<div class="container">

<h3 class="todo_list_title">Edit To Do List</h3>

<div class="forms">
  <%= render 'form', todo_list: @todo_list %>
</div>

<div class="links">
  <%= link_to 'Cancel', todo_lists_path %>
</div>

</div>