<div class="container">
  <div class="row">
    <% @journals.each do |journal| %>
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="card-body">
        <h4><%= link_to journal.title, journal_path(journal.id), class: 'link-dark' %></h4>
        <%= link_to "View", journal_path(journal.id), class: "btn btn-dark" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%# <%= link_to "Add entry", new_journal_path %>