<div class="container">
<span id="notice"><%= flash.notice %></span>

<div class="container-fluid mt-3">

<p>
  <strong>Category:</strong>
  <%= @category.category %>
</p>

<div class="btn-toolbar" role="group">
<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-dark btn-sm' %>
<%= link_to 'Back', categories_path, class: 'btn btn-dark btn-sm' %>
</div>

</div>
</div>
