<div class="container-fluid mt-3" style="
    margin-right: 100px;
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 100px;
    padding-top: 25px;
">
<br>
<p id="notice"><%= flash.notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.category %>
</p>

<div class="btn-toolbar" role="group">
<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-dark btn-sm' %>
<%= link_to 'Back', categories_path, class: 'btn btn-dark btn-sm' %>
</div>

</div>
